/* Projects Container */
.projects-container {
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,
            rgba(245, 245, 245, 0.8),
            rgba(245, 245, 245, 0.8)),
        url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
}

.header-projects {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #111;
    letter-spacing: 2px;
}

.intro-text {
    max-width: 800px;
    margin: 0 auto 40px;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media (max-width: 480px) {
    .header-projects {
        font-size: 2rem;
    }

    .intro-text {
        font-size: 0.9rem;
    }

    .projects-container {
        padding: 60px 10px;
    }
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Aligns items to the start */
    gap: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .projects-list {
        flex-direction: row;
        /* Switch to row layout on wider screens */
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.projects-container {
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,
            rgba(245, 245, 245, 0.8),
            rgba(245, 245, 245, 0.8)),
        url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
}