/* CSS for HomeScreen component */
.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f3f3f3;
    text-align: center;
    font-family: Arial, sans-serif;
}

.home-screen h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.home-screen p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    max-width: 600px;
    line-height: 1.5;
}

.projects-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #33ffce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.projects-button:hover {
    background-color: #5d2cb4;
}

.button {
    align-items: flex-start;
}