.projects-container {
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: #ffffff; */
}

.projects-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-projects {
    color: #5d2cb4;
}

.intro-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}